<form onsubmit="addChatMessage(this)">
    <label for="">
        <input type="text" id="email"  placeholder="email">
    </label>
    <label for="">tipo:</label>

    <select name="tipo" id="tipo">
        <option value="usuario">usuario</option>
        <option value="admin">admin</option>
    </select>
    <label>
        <input type="text" id="message"  placeholder="message">
    </label>
   
    <input type="submit" value="send message" onclick="preventDef()">
</form>