<form onsubmit="addChatMessage(this)">
    <label for="">
        <input type="text" id="mail"  placeholder="mail">
    </label>
    <label for="">
        <input type="text" id="nombre"  placeholder="nombre">
    </label>
    <label for="">
        <input type="text" id="apellido"  placeholder="apellido">
    </label>
    <label for="">
       <input type="number" id="edad"  placeholder="edad">
   </label>
    <label>
       <input type="text" id="alias"  placeholder="alias">
   </label>
   <label>
    <input type="text" id="avatar"  placeholder="avatar">
    </label>
    <label>
        <input type="text" id="message"  placeholder="message">
    </label>
   
    <input type="submit" value="send message" onclick="preventDef()">
</form>