<form onsubmit="addProduct(this)">

    <label for="">
       <input type="text" id="title"  placeholder="insert title">
   </label>
    <label>
       <input type="number" id="price"  placeholder="set price">
   </label>
   <label>
       <input type="text" id="thumbnails"  placeholder="insert url">
   </label>
    <input type="submit" value="Submit a product" onclick="preventDef()">
</form>
   
   <!-- <form  action="/productos" >
       <input type="submit" value="view products">
   </form> -->
       