<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    
</head>
<body class="container">
    
    <form action="/login" method="post">

        <label for="">
           <input type="text" id="username" name="username" placeholder="insert name">
       </label>
       <label>
           <input type="password" id="password" name="password" placeholder="insert password">
       </label>
        <input type="submit" value="login">
    </form>

    <form  action="/signup" >
        <input type="submit" value="Sign Up">
    </form>

    <!-- <script src="./main.js"></script> -->
 
</body>
</html>