<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    
</head>
<body class="container">
    
    <div class="container my-5">

        <h1>SIGNUP</h1>
        <br>
        <form class="form" role="form" action="/signup" method="post" autocomplete="off">
      
          <div class="form-group">
            <input name='username' placeholder="Nombre" class="form-control" type="text" required>
          </div>
          <div class="form-group">
            <input name='password' placeholder="Password" class="form-control" type="password" required>
          </div>
      
          <br>
      
          <div class="form-group">
            <input name='firstname' placeholder="firstname" class="form-control" type="text" required>
          </div>
      
          <div class="form-group">
            <input name='lastname' placeholder="lastname" class="form-control" type="text" required>
          </div>

          <div class="form-group">
            <input name='address' placeholder="address" class="form-control" type="text" required>
          </div>
          
          <div class="form-group">
            <input name='age' placeholder="age" class="form-control" type="number" required>
          </div>

          <div class="form-group">
            <input name='email' placeholder="email" class="form-control" type="email" required>
          </div>

          <div class="form-group">
            <input type="tel" id="cellphone"name="cellphone" pattern="[0-9]{13}" placeholder="+5491156927440"/>
          </div>
      
          <div class="form-group">
            <input class="btn btn-success my-3" type="submit" value="Singup">
          </div>
        </form>
      
        <hr>
        <form action="/">
          <div class="text-center"></div>
              <button class="btn btn-info my-3">Back to home page</button>
          </div>
        </form>
      
      </div>
 
</body>
</html>